


%h2.form-signin-heading Vous enregistrer avec vos indentifiants A Little Market

- if @user.errors.any?
  - @user.errors.each do |attr, msg|
    .alert.alert-danger{:role => "error"}
      - if attr.to_s == 'username'
        = "Email: #{msg}"
      - else
        = "#{attr}: #{msg}"

= form_tag('process_registration', class: 'form-signin') do
  = email_field(:user, :username, { class: 'form-control', placeholder: 'Email address', value: @user.username })
  = text_field(:user, :password, { value: @user.password, class: 'form-control', placeholder: 'Password' })
  %label{ for: 'user_check_little_ids' } Véfifier les identifiants sur little market ?
  = check_box(:user, :check_little_ids)
  = submit_tag("S'enregister", class: 'btn.btn-lg.btn-primary.btn-block')

